<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Personas</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <!--Asegura que Flask encuentre el archivo en cualquier entorno o subruta. en lugar del anteriormente usado-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilos.css') }}">
    <!--<link rel="stylesheet" href="/static/css/estilos.css"> -->
</head>
<body class="container mt-4">
    <h2>Personas</h2>
    <!-- Formulario para empaquetar los datos que se requieren -->
    <form id="formulario" class="row g-3"> <!--g GAP - espaciado entre columnas -->
        <!--MD medium(pantalla mediana) en lugar de Label utilizamos placeholder-->
        <div class="col-md-3"><input class="form-control" placeholder="Identificación" id="identificacion" required></div>
        <div class="col-md-3"><input class="form-control" placeholder="Nombres" id="nombres" required></div>
        <div class="col-md-3"><input type="date" class="form-control" id="fecha" required></div>
        
        <!-- Llenar dinámicamente desde un diccionario en Python -->
        <div class="col-md-3">
            <select class="form-select" id="genero" required></select> <!-- se hara en forma dinamica desde un diccionario python-->
        </div>

        <!-- Llenar dinámicamente desde un diccionario en Python -->
        <div class="col-md-3">                                
            <select id="ciudad" class="form-select" required></select> <!-- se hara en forma dinamica desde un diccionario python-->
        </div>

        <!-- Datos requeridos para llevar al servidor-->
        <div class="col-md-3"><input id="movil"  class="form-control" placeholder="Móvil" required></div>
        <div class="col-md-3"><input id="mail"   type="email" class="form-control" placeholder="Email" required></div>
        <div class="col-md-3"><input id="salario" type="number" class="form-control" placeholder="Salario" required></div>
        
        <!-- Botón para Enviar los datos del formulario a JS y posteriormente al servidor -->
        <div class="col-md-6">
            <button class="btn btn-success w-100" type="submit">Guardar</button> <!-- w ancho 100% del div-->
        </div>

        <!-- botón para limpiar el formulario -->
        <div class="col-md-6">
            <button class="btn btn-secondary w-100" type="button" onclick="limpiar()">Cancelar</button>
        </div>
    </form>

    <hr>

    <!-- Evento FILTRAR digitar y las la lista del cuadro muestra el resultado -->
    <input type="text" class="form-control mb-3" placeholder="Buscar..." id="buscar" onkeyup="filtrarTabla()">
    
    <div class="mb-3 d-flex justify-content-end">
        <button class="btn btn-success" onclick="exportarExcel()">📄 Exportar a Excel</button>
    </div>    

    <!-- Llenar dinámicamente en JS desde la base de datos en Python Picklet-->
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Identificación</th><th>Nombres</th><th>Fecha</th><th>Género</th>
                <th>Ciudad</th><th>Móvil</th><th>Mail</th><th>Salario</th><th>Acciones</th>
            </tr>
        </thead>
        <tbody id="tabla"></tbody>
    </table>

    <!-- JS contiene las funciones que hacen la página dinámica para comunicar datos -->
    <!--<script src="/static/js/funciones.js"></script> -->
    <script src="{{ url_for('static', filename='js/funciones.js') }}"></script>
</body>
</html>
